body{
    font-family: sans-serif;
    margin: auto;
    max-width: 700px;
    padding: 0;
    background-color: rgb(36, 36, 36);
    color: rgb(235, 235, 222);
}
header{
    background-color: #9370db;
    color: #000080;
    padding: 5px;
}
main{
    background-color: #f0f8ff;
    color: #bfbf00;
    padding: 10px;
}
footer{
    background-color: #32cd32;
    color: #ffebcd;
    padding: 5px;
}
div{
    padding: 10px;
    background-color: #eee8aa;
    color: #5f9ea0;
}
a{
    background-color: #ffd700;
    color: #daa520;
    padding: 5px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center; 
}
img{
    width: 100%;
}
iframe{
    width: 100%;
    height: 200px;
}
 main > div{
    height: 100%;
    display: grid;   
    align-items: center;  
 }
        
 a:hover{
    background-color: rgb(94, 53, 53);     
 }